<div class="total_static_content_home">
	<div class="page-header">
		<div class="bounce">
			<p>water is precious. we have to conserve each bit..</p>
  	</div>
  	<div id="image_transitive">
  		<%=image_tag("image3.jpg",:size=>"1300x500",:alt=>"image3",:class=>"img-responsive")%>
  		<%=image_tag("image4.jpg",:size=>"1300x500",:alt=>"image4",:class=>"img-responsive")%>
   	</div>
  </div>
	<div class="home_page_paragraph">
		<p> 	in real life we have occured with too much problems. among them water is 		the 			most terrible disaster in our life. it is our life saviour rather 		than life 		improver
		</p>
		<p>Water covers 70 percent of the Earth, but only 3% of it is clean and 					suitable 		for human consumption. Even if you live in an area with ample 			rainfall, 				using water requires energy to process, pump, heat, re-pump, and re-process 		it. Fortunately, there are ways to save water for everyone from certified 			germaphobes to compost-toilet-level conservationists. The average family of 		four uses 450 liters (120 gallons) of water a day, which is 164,000 liters 			(44,000 gallons) a year.
		</p>
	</div>
</div>


